.unique-image-carousel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.unique-swiper-wrapper {
    display: flex;
    transition: transform 0.5s;
}

.unique-swiper-slide {
    flex: 0 0 auto;
    width: 500px; 
    text-align: center;
    position: relative;
    transition: transform 0.5s, opacity 0.5s;
    overflow: hidden;
    z-index: 1;
	border-radius: 20px;
}

.unique-swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.unique-swiper-slide::before {
    content: '';
    display: block;
    padding-top: 90%; /* Aspect ratio 4:3 */
}

.unique-swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Highlight effect for the center slide */
.unique-swiper-slide-active {
    transform: scale(1.2);
    z-index: 3;
    opacity: 1;
}

/* Positioning for the slides on either side */
.unique-swiper-slide-prev, .unique-swiper-slide-next {
    z-index: 2;
}

.unique-swiper-slide:not(.unique-swiper-slide-active) {
    opacity: 1;
    z-index: 1;
}

/* Style for navigation buttons */
.unique-swiper-button-prev,
.unique-swiper-button-next {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    cursor: pointer;
}

.unique-swiper-button-prev {
    left: -20px; /* Adjust as needed */
}

.unique-swiper-button-next {
    right: -20px; /* Adjust as needed */
}

/* Style for pagination dots */
.unique-swiper-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #000;
}
